<!doctype html>
<html>
  <head>
    <title>Ndiha-sha - Register</title>
  </head>
  <body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
    <form method="POST">
      <input
        type="text"
        name="username"
        placeholder="Username"
        required
      /><br />
      <input type="email" name="email" placeholder="Email" required /><br />
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
      /><br />
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
  </body>
</html>
